
// keyframes
@keyframes fadeUpIn {
    from { opacity:0; top: 100px; }
    to { opacity:1; top: 0px; }
}

@keyframes shake {
    10%, 50% {
        transform: translate3d(-1px, 0, 0);
    }

    15%, 45% {
        transform: translate3d(2px, 0, 0);
    }

    20%, 30%, 40% {
        transform: translate3d(-4px, 0, 0);
    }

    25%, 35% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes pulse {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.1); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.07); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}