article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

h2 {
  font-family: "Oswald", sans-serif; }

@keyframes fadeUpIn {
  from {
    opacity: 0;
    top: 100px; }
  to {
    opacity: 1;
    top: 0px; } }

@keyframes shake {
  10%, 50% {
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    transform: translate3d(4px, 0, 0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.1); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.07); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes wiggle {
  0% {
    transform: rotate(10deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(20deg); }
  75% {
    transform: rotate(-5deg); }
  100% {
    transform: rotate(0deg); } }

img {
  width: 100%;
  display: block; }

body {
  background: #dac492;
  background: linear-gradient(328deg, #dac492 0%, #9fc6c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
  width: 100%;
  height: 100vh; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

input {
  border: none; }

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.3rem;
  margin: 15px;
  padding: 13px 40px;
  border: 2px solid white;
  transition: 0.3s; }
  .button:hover, .button:focus {
    box-shadow: inset 12em 0 0 0 white;
    color: #B8C5B0; }

.signout-symbol,
.save-symbol,
.translate-symbol {
  font-size: 3.3rem;
  display: none; }

.landing {
  position: absolute;
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing * {
    color: white; }
  .landing .logo-words {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
    animation: fadeUpIn 2s;
    -webkit-animation: fadeUpIn 2s; }
    .landing .logo-words .logo {
      width: 50px;
      height: 100%;
      margin-right: 15px;
      text-align: center; }
    .landing .logo-words .phrasebook {
      margin: 0; }
  .landing .white-break {
    width: 70%;
    max-width: 600px;
    border: none;
    border-bottom: 1px solid white; }
  .landing .button {
    position: relative; }
    .landing .button:hover, .landing .button:focus {
      box-shadow: inset 6.7em 0 0 0 white;
      color: #B8C5B0; }

.main-container {
  display: flex;
  visibility: hidden;
  height: calc(100vh - 40px);
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear; }

.saved-aside {
  width: 300px;
  height: 100%;
  display: inline-block;
  background-color: white;
  text-align: center;
  overflow-y: auto; }
  .saved-aside #bookTitle {
    caret-color: #6daf9d;
    margin: 0 auto;
    width: 200px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: 600;
    padding: 5px; }
    .saved-aside #bookTitle::placeholder {
      opacity: 0.4; }
    .saved-aside #bookTitle:focus {
      box-shadow: 0 0 10px #89baac; }
  .saved-aside .save-phrase-book-button {
    background-color: #eee; }
  .saved-aside .phrasebook-title {
    font-size: 3.3rem;
    background: #dac492;
    background: linear-gradient(328deg, #dac492 0%, #9fc6c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .saved-aside .phrase {
    width: 220px;
    margin: 15px auto;
    background-color: #eee;
    padding: 15px;
    font-size: 2rem; }
    .saved-aside .phrase p {
      margin: 5px 0; }
    .saved-aside .phrase .original-phrase {
      color: #333;
      font-weight: 600; }
    .saved-aside .phrase .delete-button {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 10px 15px;
      margin: 0; }

.translate-section {
  width: calc(100vw - 300px);
  height: calc(100% - 250px);
  transition: 0.5s ease-in;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white; }
  .translate-section .signout-button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 10px 20px; }
    .translate-section .signout-button:hover, .translate-section .signout-button:focus {
      color: #d85454; }
  .translate-section .original-header {
    text-align: left;
    margin-bottom: 10px; }
  .translate-section .translated-header {
    text-align: right;
    margin-bottom: 10px; }
  .translate-section .translate-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative; }
    .translate-section .translate-container #langToTranslate {
      cursor: pointer;
      background: transparent;
      border: 2px solid white;
      padding: 10px;
      font-size: 1.7rem;
      height: 50px;
      width: 170px;
      color: white;
      position: absolute;
      top: 40px;
      left: 230px;
      appearance: none; }
    .translate-section .translate-container:nth-child(2) {
      text-align: right; }
    .translate-section .translate-container h2 {
      font-size: 4rem;
      font-weight: 300; }
    .translate-section .translate-container .translation-box #originalText,
    .translate-section .translate-container .translation-box #translatedText {
      caret-color: #6daf9d;
      width: 300px;
      height: 175px;
      font-size: 2.5rem;
      padding: 25px;
      font-weight: 600;
      border: none;
      resize: none;
      line-height: 3rem;
      letter-spacing: 0.05rem; }
      .translate-section .translate-container .translation-box #originalText::placeholder,
      .translate-section .translate-container .translation-box #translatedText::placeholder {
        opacity: 0.4; }
      .translate-section .translate-container .translation-box #originalText:focus,
      .translate-section .translate-container .translation-box #translatedText:focus {
        box-shadow: 0 0 20px #89baac; }
    .translate-section .translate-container .save-button,
    .translate-section .translate-container .translate-button {
      display: block;
      background: transparent;
      color: white;
      margin: 30px 0 0; }
    .translate-section .translate-container .save-button {
      margin-left: 161px; }
      .translate-section .translate-container .save-button:hover, .translate-section .translate-container .save-button:focus {
        color: #B5C5B3; }
    .translate-section .translate-container .translate-button:hover, .translate-section .translate-container .translate-button:focus {
      color: #D8C494; }

.your-books-container {
  position: fixed;
  bottom: 40px;
  width: calc(100vw - 300px);
  right: 0;
  height: 250px; }

.your-books {
  width: calc(100vw - 300px);
  height: 250px;
  border: 3px solid white;
  background: transparent;
  align-self: flex-end;
  position: absolute;
  right: 0;
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow-x: auto; }
  .your-books .your-book-list {
    display: flex;
    position: relative; }
    .your-books .your-book-list h3 {
      margin: 5px 0 5px;
      word-wrap: break-word; }
    .your-books .your-book-list .book-item {
      height: 120px;
      width: 125px;
      margin: 0 20px;
      padding: 12px;
      font-size: 1.5rem;
      text-emphasis: wrap;
      text-align: center;
      background-color: #eee;
      border: 4px solid white;
      color: #222;
      cursor: pointer;
      transition: all 0.2s ease-in; }
      .your-books .your-book-list .book-item:hover {
        background-color: white;
        color: #333;
        box-shadow: 3px 5px 3px #333; }
      .your-books .your-book-list .book-item .book-icons {
        width: 105px;
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: space-around; }
        .your-books .your-book-list .book-item .book-icons .delete-book {
          margin-top: 3px;
          font-size: 2.2rem;
          cursor: pointer;
          transition: all 0.2s ease-in; }
          .your-books .your-book-list .book-item .book-icons .delete-book:hover {
            animation: shake 2s infinite;
            color: #d85454; }
        .your-books .your-book-list .book-item .book-icons .view-book {
          font-size: 2.6rem;
          transition: all 0.2s ease-in;
          cursor: pointer; }
          .your-books .your-book-list .book-item .book-icons .view-book:hover {
            transform: scale(1.15);
            color: #60b2d1; }
  .your-books .phrase-list-modal {
    display: none;
    position: absolute;
    height: 170%;
    background-color: #fff;
    top: -66px;
    left: 0;
    z-index: 2; }
    .your-books .phrase-list-modal .close-container {
      position: fixed;
      width: 10px;
      cursor: pointer; }
      .your-books .phrase-list-modal .close-container .close-modal {
        font-size: 3.8rem;
        position: absolute;
        top: -13px;
        left: -8px; }
      .your-books .phrase-list-modal .close-container:hover .close-modal {
        animation: spin 1s infinite;
        color: #d85454; }
    .your-books .phrase-list-modal .phrase {
      background-color: #eee;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 200px;
      margin: 10px 10px 10px 0px;
      font-size: 1.6rem;
      padding: 10px;
      cursor: default; }
      .your-books .phrase-list-modal .phrase .original-text {
        font-size: 1.7rem;
        margin-bottom: 0;
        color: #333;
        font-weight: 600; }
    .your-books .phrase-list-modal .phrase:nth-child(2) {
      margin-left: 10px; }
  .your-books .phrasebook-title {
    margin: 0 0 10px 20px;
    font-size: 2.6rem;
    color: white;
    font-weight: 400; }

.bottom-bar {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bottom-bar * {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0;
    padding: 0; }
  .bottom-bar .shangni-hu {
    font-size: 1.5rem;
    font-weight: 600;
    color: #89baac;
    transition: all 0.3s ease-in; }
    .bottom-bar .shangni-hu:hover {
      color: #D8C494; }
  .bottom-bar .yandex-translate {
    font-weight: 600; }

.hamburger-toggle {
  float: right;
  display: none;
  cursor: pointer;
  top: 20px;
  right: 15px; }
  .hamburger-toggle span {
    background: white;
    height: 2px;
    width: 28px;
    display: block;
    margin: 6px;
    -webkit-transition: .5s;
    transition: .5s; }

.hamburger-toggle.x-toggle span:nth-child(2) {
  opacity: 0; }

.hamburger-toggle.x-toggle span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform-origin: 5px 9px;
  -webkit-transform: rotate(45deg);
  transform-origin: 5px 9px;
  background-color: black; }

.hamburger-toggle.x-toggle span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform-origin: 8px -7px;
  -webkit-transform: rotate(-45deg);
  transform-origin: 8px -7px;
  background-color: black; }

@media screen and (max-width: 940px) {
  .translate-section {
    width: calc(100vw - 250px); }
    .translate-section .signout-button {
      font-size: 1.6rem; }
    .translate-section .translate-container .translation-box #originalText,
    .translate-section .translate-container .translation-box #translatedText {
      width: 220px;
      height: 155px;
      font-size: 2rem;
      padding: 20px;
      line-height: 2.4rem; }
    .translate-section .translate-container .save-button,
    .translate-section .translate-container .translate-button {
      font-size: 2rem;
      margin: 30px 0 0;
      padding: 10px 20px; }
    .translate-section .translate-container .save-button {
      margin-left: 130px; }
      .translate-section .translate-container .save-button:hover, .translate-section .translate-container .save-button:focus {
        color: #B5C5B3; }
    .translate-section .translate-container #langToTranslate {
      padding: 6px;
      font-size: 1.4rem;
      height: 40px;
      width: 130px;
      top: 50px;
      left: 170px; }
  .saved-aside {
    width: 250px; }
  .your-books {
    width: calc(100vw - 250px); } }

@media screen and (max-width: 730px) {
  .translate-section {
    flex-direction: column;
    justify-content: flex-start; }
    .translate-section .signout-button {
      font-size: 1.5rem;
      padding: 10px 15px; }
    .translate-section .translate-container .original-header {
      text-align: left;
      font-size: 3rem;
      margin-top: 55px;
      margin-bottom: 10px; }
    .translate-section .translate-container .translated-header {
      text-align: right;
      font-size: 3rem;
      margin-top: 15px;
      margin-bottom: 5px; }
    .translate-section .translate-container .translation-box #originalText,
    .translate-section .translate-container .translation-box #translatedText {
      width: 350px;
      height: 100px;
      font-size: 1.8rem;
      padding: 20px;
      line-height: 2.2rem;
      margin-bottom: 0; }
    .translate-section .translate-container .translation-box .save-button,
    .translate-section .translate-container .translation-box .translate-button {
      font-size: 1.6rem;
      margin: 10px 0 0;
      position: absolute;
      padding: 7px 10px; }
    .translate-section .translate-container .translation-box .save-button {
      margin: 10px 0 0 286px; }
      .translate-section .translate-container .translation-box .save-button:hover, .translate-section .translate-container .translation-box .save-button:focus {
        color: #B5C5B3; }
    .translate-section .translate-container #langToTranslate {
      font-size: 1.4rem;
      top: 60px;
      left: 100px;
      height: 40px; } }

@media screen and (max-width: 600px) {
  .landing {
    height: calc(100vh - 40px); }
  .hamburger-toggle {
    display: inline-block;
    position: absolute;
    z-index: 2; }
  .saved-aside {
    position: absolute;
    transform: translate(-300%);
    top: 0;
    right: 0;
    height: 100%;
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
    z-index: 1; }
  .saved-aside.res-menu {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; }
  .signout-symbol,
  .save-symbol,
  .translate-symbol {
    display: inline-block;
    position: absolute;
    cursor: pointer; }
  .signout-symbol {
    top: 15px;
    left: 25px;
    font-size: 3.2rem;
    z-index: 2; }
    .signout-symbol:hover {
      animation: wiggle 2s infinite; }
  .save-symbol,
  .translate-symbol {
    bottom: 10px;
    color: #777;
    right: 5%; }
  .fa-sync-alt:hover {
    animation: spin 2s infinite; }
  .fa-save:hover {
    animation: pulse 1.2s infinite; }
  .main-container {
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column; }
  .translate-section {
    height: 480px;
    width: 100%; }
    .translate-section .signout-button {
      display: none; }
    .translate-section .translate-container {
      display: block; }
      .translate-section .translate-container:nth-of-type(2) {
        margin-bottom: 20px; }
      .translate-section .translate-container #langToTranslate {
        top: 75px;
        width: 120px; }
      .translate-section .translate-container .original-header {
        text-align: left;
        margin-top: 70px; }
      .translate-section .translate-container .translated-header {
        text-align: left;
        margin-top: 20px; }
      .translate-section .translate-container .translation-box #originalText,
      .translate-section .translate-container .translation-box #translatedText {
        width: 80vw;
        height: 100px;
        padding-right: 25px; }
      .translate-section .translate-container .translation-box .save-button,
      .translate-section .translate-container .translation-box .translate-button {
        display: none; }
  .your-books-container {
    position: relative;
    width: 100%;
    margin: 0;
    bottom: 0; }
  .your-books {
    width: 100%;
    height: 250px;
    position: absolute; } }
