@import 'partials/_setup.scss';
@import 'partials/_typography.scss';
@import 'partials/_utils.scss';
// -webkit-text-stroke: 0.5px #333;

img {
    width: 100%;
    display: block;
}

body {
    background: rgb(218,196,146);
    background: linear-gradient(328deg, rgba(218,196,146,1) 0%, rgba(159,198,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
    width: 100%;
    height: 100vh;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input {
    border: none;
}

.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3rem;
    margin: 15px;
    padding: 13px 40px;
    border: 2px solid white;
    transition: 0.3s;

    &:hover,
    &:focus {
        box-shadow: inset 12em 0 0 0 white;
        color: #B8C5B0;
    }
}

.signout-symbol,
.save-symbol,
.translate-symbol {
    font-size: 3.3rem;
    display: none;
}


// landing styles
.coerce-login {
    position: absolute;
    top: 4px;
    width: 280px;
    font-size: 1.4rem;
    right: 110px;
    padding: 0;
    opacity: 0.8;
    font-style: italic;
}

.landing {
    position: absolute;
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
        color: white;
    }

    .logo-words {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -15px;
        animation: fadeUpIn 2s;
        -webkit-animation: fadeUpIn 2s;

        .logo {
            width: 50px;
            height: 100%;
            margin-right: 15px;
            text-align: center;
        }

        .phrasebook {
            margin: 0;
        }
    }

    .white-break {
        width: 70%;
        max-width: 600px;
        border: none;
        border-bottom: 1px solid white;

    }

    .button {
        position: relative;

        &:hover,
        &:focus {
            box-shadow: inset 6.7em 0 0 0 white;
            color: #B8C5B0;
        }

    }
}

.main-container {
    display: flex;
    visibility: hidden;
    height: calc(100vh - 40px);
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.saved-aside {
    width: 300px;
    height: 100%;
    display: inline-block;
    background-color: white;
    text-align: center;
    overflow-y: auto;

    #bookTitle {
        caret-color: #6daf9d;
        margin: 0 auto;
        width: 200px;
        font-size: 2rem;
        text-align: center;
        border: 1px solid #ccc;
        font-weight: 600;
        padding: 5px;

        &::placeholder {
            opacity: 0.4;
        }

        &:focus {
            box-shadow: 0 0 10px #89baac;
        }

    }

    .save-phrase-book-button {
        background-color: #eee;
    }

    .phrasebook-title {
        font-size: 3.3rem;
        background: rgb(218,196,146);
        background: linear-gradient(328deg, rgba(218,196,146,1) 0%, rgba(159,198,199,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .phrase {
        width: 220px;
        margin: 15px auto;
        background-color: #eee;
        padding: 15px;
        font-size: 2rem;

        p {
            margin: 5px 0;
        }

        .original-phrase {
            color: #333;
            font-weight: 600;
        }

        .translated-phrase {

        }

        .delete-button {
            font-size: 1.5rem;
            font-weight: 600;
            padding: 10px 15px;
            margin: 0;
        }
    }
}

// translate styles
.translate-section {
    width: calc(100vw - 300px);
    height: calc(100% - 250px);
    transition: 0.5s ease-in;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;

    .signout-button {
        font-size: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        padding: 8px 15px;
        z-index: 2;

        &:hover,
        &:focus {
            color: #d85454;
        }

    }

    .original-header {
        text-align: left;
        margin-bottom: 10px;
    }

    .translated-header {
        text-align: right;
        margin-bottom: 10px;
    }


    .translate-container {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        position: relative;

        #langToTranslate {
            cursor: pointer;
            background: transparent;
            border: 2px solid white;
            padding: 5px;
            font-size: 1.7rem;
            height: 40px;
            width: 170px;
            color: white;
            position: absolute;
            top: 50px;
            left: 230px;
            appearance: none;

        }

        &:nth-child(2) {
            text-align: right;
        }

        h2 {
            font-size: 4rem;
            font-weight: 300;
        }

        .translation-box {

            #originalText,
            #translatedText {
                caret-color: #6daf9d;
                width: 300px;
                height: 175px;
                font-size: 2.5rem;
                padding: 25px;
                font-weight: 600;
                border: none;
                resize: none;
                line-height: 3rem;
                letter-spacing: 0.05rem;

                &::placeholder {
                    opacity: 0.4;
                }

                &:focus {
                    box-shadow: 0 0 20px #89baac;
                }
            }
        }

        .save-button,
        .translate-button {
            display: block;
            background: transparent;
            color: white;
            margin: 30px 0 0;
        }

        .save-button {
            margin-left: 161px;
            &:hover,
            &:focus {
                color: #B5C5B3;
            }
        }

        .translate-button {
            &:hover,
            &:focus {
                color: #D8C494;
            }
        }
    }
}

.your-books-container {
    position: fixed;
    bottom: 40px;
    width: calc(100vw - 300px);
    right: 0;
    height: 250px;
}

//
.your-books {
    width: calc(100vw - 300px);
    height: 250px;
    border: 3px solid white;
    background: transparent;
    align-self: flex-end;
    position: absolute;
    right: 0;
    padding: 7px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: auto;

    .your-book-list {
        display: flex;
        position: relative;

        h3 {
            margin: 5px 0 5px;
            word-wrap: break-word;
        }

        .book-item {
            height: 120px;
            width: 125px;
            margin: 0 20px;
            padding: 12px;
            font-size: 1.5rem;
            text-emphasis: wrap;
            text-align: center;
            background-color: #eee;
            border: 4px solid white;
            color: #222;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &:hover {
                background-color: white;
                color: #333;
                box-shadow: 3px 5px 3px #333;
            }

            .book-icons {
                width: 105px;
                position: absolute;
                bottom: 10px;
                display: flex;
                justify-content: space-around;

                .delete-book {
                    margin-top: 3px;
                    font-size: 2.2rem;
                    cursor: pointer;
                    transition: all 0.2s ease-in;

                    &:hover {
                        animation: shake 2s infinite;
                        color: #d85454;
                    }

                }

                .view-book {
                    font-size: 2.6rem;
                    transition: all 0.2s ease-in;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.15);
                        color: #60b2d1;
                    }
                }
            }
        }
    }

    .phrase-list-modal {
        display: none;
        position: absolute;
        height: 170%;
        background-color: #fff;
        top: -66px;
        left: 0;
        z-index: 2;

        .close-container {
            position: fixed;
            width: 10px;
            cursor: pointer;
            .close-modal {
                font-size: 3.8rem;
                position: absolute;
                top: -13px;
                left: -8px;
            }

            &:hover .close-modal {
                animation: spin 1s infinite;
                color: #d85454;
            }
        }

        .phrase {
            background-color: #eee;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 200px;
            margin: 10px 10px 10px 0px;
            font-size: 1.6rem;
            padding: 10px;
            cursor: default;

            .original-text {
                font-size: 1.7rem;
                margin-bottom: 0;
                color: #333;
                font-weight: 600;
            }
        }

        .phrase:nth-child(2){
            margin-left: 10px;
        }
    }

    .phrasebook-title {
        margin: 0 0 10px 20px;
        font-size: 2.6rem;
        color: white;
        font-weight: 400;
    }

}

.bottom-bar {
    width: 100%;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        color: #333;
        text-decoration: none;
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    }

    .shangni-hu {
        font-size: 1.5rem;
        font-weight: 600;
        color: #89baac;
        transition: all 0.3s ease-in;

        &:hover {
            color: #D8C494;
        }
    }

    .yandex-translate {
        font-weight: 600;
    }
}

.hamburger-toggle {
    float: right;
    display: none;
    cursor: pointer;
    top: 20px;
    right: 15px;

    & span {
        background: white;
        height: 2px;
        width: 28px;
        display: block;
        margin: 6px;
        -webkit-transition: .5s;
        transition: .5s
    }
}

.hamburger-toggle.x-toggle span:nth-child(2) {
    opacity: 0;
}

.hamburger-toggle.x-toggle span:nth-child(1) {
   -webkit-transform: rotate(45deg);
    transform-origin: 5px 9px;
   -webkit-transform: rotate(45deg);
    transform-origin: 5px 9px;
    background-color: black;
}

.hamburger-toggle.x-toggle span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform-origin: 8px -7px;
    -webkit-transform: rotate(-45deg);
    transform-origin: 8px -7px;
    background-color: black;
}

@media screen and (max-width: 940px) {
    .translate-section {
        width: calc(100vw - 250px);

        .signout-button {
            font-size: 1.6rem;
        }
        .translate-container {
            .translation-box {

                #originalText,
                #translatedText {
                    width: 220px;
                    height: 155px;
                    font-size: 2rem;
                    padding: 20px;
                    line-height: 2.4rem;

                }
            }

            .save-button,
            .translate-button {
                font-size: 2rem;
                margin: 30px 0 0;
                padding: 10px 20px;
            }

            .save-button {
                margin-left: 130px;
                &:hover,
                &:focus {
                    color: #B5C5B3;
                }
            }

            #langToTranslate {
                padding: 5px;
                font-size: 1.4rem;
                height: 35px;
                width: 130px;
                top: 50px;
                left: 170px;
            }
        }
    }

    .saved-aside {
        width: 250px;

    }

    .your-books {
        width: calc(100vw - 250px);
    }

}

@media screen and (max-width: 730px) {
    .coerce-login {
        display: none;
    }

    .translate-section {
        flex-direction: column;
        justify-content: flex-start;

        .signout-button {
            font-size: 1.5rem;
            padding: 10px 15px;
        }


        .translate-container {
            .original-header {
                text-align: left;
                font-size: 3rem;
                margin-top: 40px;
                margin-bottom: 10px;
            }

            .translated-header {
                text-align: right;
                font-size: 3rem;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            .translation-box {

                #originalText,
                #translatedText {
                    width: 350px;
                    height: 100px;
                    font-size: 1.8rem;
                    padding: 20px;
                    line-height: 2.2rem;
                    margin-bottom: 0;

                }

                .save-button,
                .translate-button {
                    font-size: 1.6rem;
                    margin: 10px 0 0;
                    position: absolute;
                    padding: 7px 10px;
                }

                .save-button {
                    margin: 10px 0 0 286px;
                    &:hover,
                    &:focus {
                        color: #B5C5B3;
                    }
                }
            }

            #langToTranslate {
                font-size: 1.4rem;
                top: 45px;
                left: 100px;
                height: 40px;
            }

        }
    }

}

@media screen and (max-width: 600px) {


    .hamburger-toggle {
        display: inline-block;
        position: absolute;
        z-index: 2;
    }

    .saved-aside {
        position: absolute;
        transform: translate(-300%);
        top: 0;
        right: 0;
        height: 100%;
        -webkit-transition: .3s;
        transition: .3s;
        opacity: 0;
        z-index: 1;
    }

    .saved-aside.res-menu {
        -webkit-transform: translate(0);
        transform: translate(0);
        opacity: 1;

    }

    .signout-symbol,
    .save-symbol,
    .translate-symbol {
        display: inline-block;
        position: absolute;
        cursor: pointer;
    }

    .signout-symbol {
        top: 15px;
        left: 25px;
        font-size: 3.2rem;
        z-index: 2;

        &:hover {
            animation: wiggle 2s infinite;
        }
    }

    .save-symbol,
    .translate-symbol {
        bottom: 10px;
        color: #777;
        right: 5%;
    }

    .fa-sync-alt:hover {
        animation: spin 2s infinite;
    }

    .fa-save:hover {
        animation: pulse 1.2s infinite;
    }

    .main-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .translate-section {
        height: 480px;
        width: 100%;

        .signout-button {
            display: none;
        }

        .translate-container {
            display: block;
            &:nth-of-type(2) {
                margin-bottom: 20px;
            }

            #langToTranslate {
                top: 75px;
                width: 120px;
            }

            .original-header {
                text-align: left;
                margin-top: 70px;
            }

            .translated-header {
                text-align: left;
                margin-top: 20px;
            }

            .translation-box {

                #originalText,
                #translatedText {
                    width: 80vw;
                    height: 100px;
                    padding-right: 25px;
                }

                .save-button,
                .translate-button {
                    display: none;
                }
            }
        }
    }

    .your-books-container {
        position: relative;
        width: 100%;
        margin: 0;
        bottom: 0;
    }


    .your-books {
        width: 100%;
        height: 250px;
        position: absolute;
    }
}