article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

h1 {
  font-size: 6rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

h2 {
  font-family: "Oswald", sans-serif; }

img {
  width: 100%;
  display: block; }

body {
  background: #dac492;
  background: linear-gradient(328deg, #dac492 0%, #9fc6c7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
  width: 100%;
  height: 100vh; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

input {
  border: none; }

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.3rem;
  margin: 15px;
  padding: 13px 40px;
  border: 2px solid white;
  transition: 0.3s; }
  .button:hover, .button:focus {
    box-shadow: inset 9em 0 0 0 white;
    color: #B8C5B0; }

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .landing * {
    color: white; }
  .landing .logo-words {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px; }
    .landing .logo-words .logo {
      width: 50px;
      height: 100%;
      margin-right: 15px;
      text-align: center; }
    .landing .logo-words .phrasebook {
      margin: 0; }
  .landing .white-break {
    width: 70%;
    max-width: 600px;
    border: none;
    border-bottom: 1px solid white; }
  .landing .button {
    position: relative; }
    .landing .button:hover, .landing .button:focus {
      box-shadow: inset 6.7em 0 0 0 white;
      color: #B8C5B0; }

.main-container {
  display: flex; }

.saved-aside {
  width: 300px;
  height: 100vh;
  display: inline-block;
  background-color: white;
  text-align: center;
  overflow-y: scroll; }
  .saved-aside #bookTitle {
    margin: 0 auto;
    width: 200px;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: 600;
    padding: 5px; }
    .saved-aside #bookTitle::placeholder {
      opacity: 0.4; }
  .saved-aside .phrasebook-title {
    font-size: 3rem;
    background: #dac492;
    background: linear-gradient(328deg, #dac492 0%, #9fc6c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dac492",endColorstr="#9fc6c7",GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .saved-aside .phrase {
    width: 220px;
    margin: 15px auto;
    background-color: #eee;
    padding: 15px;
    font-size: 2rem; }
    .saved-aside .phrase p {
      margin: 5px 0; }
    .saved-aside .phrase .original-phrase {
      color: #333;
      font-weight: 600; }
    .saved-aside .phrase .delete-button {
      font-size: 1.5rem;
      font-weight: 600;
      padding: 10px 15px;
      margin: 0; }

.translate-section {
  width: calc(100% - 250px);
  height: 70vh;
  transition: 0.5s ease-in;
  display: none;
  justify-content: center;
  align-items: center;
  color: white; }
  .translate-section .translate-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative; }
    .translate-section .translate-container #langToTranslate {
      cursor: pointer;
      background: transparent;
      border: 2px solid white;
      padding: 10px;
      font-size: 1.7rem;
      height: 50px;
      width: 220px;
      color: white;
      position: absolute;
      top: 50px;
      left: 210px;
      appearance: none; }
    .translate-section .translate-container:nth-child(2) {
      text-align: right; }
    .translate-section .translate-container h2 {
      font-size: 4rem;
      font-weight: 300; }
    .translate-section .translate-container .translation-box #originalText,
    .translate-section .translate-container .translation-box #translatedText {
      width: 300px;
      height: 175px;
      font-size: 2.5rem;
      padding: 25px;
      font-weight: 600;
      border: none;
      resize: none;
      line-height: 3rem;
      letter-spacing: 0.05rem; }
      .translate-section .translate-container .translation-box #originalText::placeholder,
      .translate-section .translate-container .translation-box #translatedText::placeholder {
        opacity: 0.4; }
    .translate-section .translate-container .save-button,
    .translate-section .translate-container .translate-button {
      display: block;
      background: transparent;
      color: white;
      margin: 30px 0 0; }
    .translate-section .translate-container .save-button {
      margin-left: 161px; }
      .translate-section .translate-container .save-button:hover, .translate-section .translate-container .save-button:focus {
        color: #B5C5B3; }
    .translate-section .translate-container .translate-button:hover, .translate-section .translate-container .translate-button:focus {
      color: #D8C494; }
